flows.json
[{
  "id": "b32f0aa8.dc0908",
  "type": "tab",
  "label": "Flow 3",
  "disabled": false,
  "info": ""
}, {
  "id": "9b8d617c.11d15",
  "type": "voice webhook",
  "z": "b32f0aa8.dc0908",
  "name": "",
  "url": "/answer",
  "method": "post",
  "x": 141,
  "y": 198,
  "wires": [
    ["7c90eb33.0654b4", "98437c9f.4bc2a"]
  ]
}, {
  "id": "47878a0b.4abdf4",
  "type": "voice webhook",
  "z": "b32f0aa8.dc0908",
  "name": "",
  "url": "/event",
  "method": "post",
  "x": 132,
  "y": 593,
  "wires": [
    ["10199f2a.5b5a11", "2e820239.082a8e"]
  ]
}, {
  "id": "10199f2a.5b5a11",
  "type": "debug",
  "z": "b32f0aa8.dc0908",
  "name": "Events",
  "active": false,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "targetType": "full",
  "x": 217,
  "y": 535,
  "wires": []
}, {
  "id": "7c90eb33.0654b4",
  "type": "debug",
  "z": "b32f0aa8.dc0908",
  "name": "Answer",
  "active": false,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "targetType": "full",
  "x": 225,
  "y": 142,
  "wires": []
}, {
  "id": "2e820239.082a8e",
  "type": "http response",
  "z": "b32f0aa8.dc0908",
  "name": "",
  "statusCode": "200",
  "headers": {},
  "x": 304,
  "y": 593,
  "wires": []
}, {
  "id": "98437c9f.4bc2a",
  "type": "talk",
  "z": "b32f0aa8.dc0908",
  "text": "<speak><p>Thank you for calling the Area 51 alien invasion hotline.</p><p>If you would like to report a sighting, press 1.</p><p>If you are currently being abducted, press 2.</p></speak>",
  "voicename": "Kimberly",
  "bargein": true,
  "loop": "",
  "level": "",
  "x": 318,
  "y": 197,
  "wires": [
    ["3525d5c3.02acda"]
  ]
}, {
  "id": "27515db0.b14ed2",
  "type": "return ncco",
  "z": "b32f0aa8.dc0908",
  "name": "",
  "x": 650,
  "y": 197,
  "wires": []
}, {
  "id": "3525d5c3.02acda",
  "type": "input",
  "z": "b32f0aa8.dc0908",
  "eventurl": "https://kja.ngrok.io/dtmf",
  "eventmethod": "post",
  "timeout": "1",
  "maxdigits": "",
  "submitonhash": false,
  "x": 456,
  "y": 196,
  "wires": [
    ["27515db0.b14ed2"]
  ]
}, {
  "id": "d64d19cd.e9b2f8",
  "type": "http in",
  "z": "b32f0aa8.dc0908",
  "name": "",
  "url": "/dtmf",
  "method": "post",
  "upload": false,
  "swaggerDoc": "",
  "x": 151,
  "y": 385,
  "wires": [
    ["d5f75c44.9f691", "da97a343.1acfc"]
  ]
}, {
  "id": "d5f75c44.9f691",
  "type": "debug",
  "z": "b32f0aa8.dc0908",
  "name": "DTMF",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "payload",
  "targetType": "msg",
  "x": 126,
  "y": 329,
  "wires": []
}, {
  "id": "da97a343.1acfc",
  "type": "switch",
  "z": "b32f0aa8.dc0908",
  "name": "",
  "property": "payload.dtmf",
  "propertyType": "msg",
  "rules": [{
    "t": "eq",
    "v": "1",
    "vt": "num"
  }, {
    "t": "eq",
    "v": "2",
    "vt": "num"
  }],
  "checkall": "true",
  "repair": false,
  "outputs": 2,
  "x": 176,
  "y": 445,
  "wires": [
    ["7d5ad2b1.c745ec"],
    ["a8dd7530.c51128"]
  ]
}, {
  "id": "bddd888b.5d4838",
  "type": "record",
  "z": "b32f0aa8.dc0908",
  "channel": "",
  "endonsilence": "",
  "endonkey": "#",
  "timeout": "",
  "beepstart": true,
  "eventurl": "https://kja.ngrok.io/recordings",
  "eventmethod": "post",
  "x": 508,
  "y": 398,
  "wires": [
    ["27515db0.b14ed2"]
  ]
}, {
  "id": "7d5ad2b1.c745ec",
  "type": "talk",
  "z": "b32f0aa8.dc0908",
  "text": "Please record your message after the tone. ",
  "voicename": "Kimberly",
  "bargein": false,
  "loop": "",
  "level": "",
  "x": 364,
  "y": 399,
  "wires": [
    ["bddd888b.5d4838"]
  ]
}, {
  "id": "a8dd7530.c51128",
  "type": "talk",
  "z": "b32f0aa8.dc0908",
  "text": "Please hold while we connect you.",
  "voicename": "Kimberly",
  "bargein": false,
  "loop": "",
  "level": "",
  "x": 366,
  "y": 461,
  "wires": [
    ["2e720e47.ba08e2"]
  ]
}, {
  "id": "2e720e47.ba08e2",
  "type": "stream",
  "z": "b32f0aa8.dc0908",
  "streamurl": "https://area-51-messages.s3.us-east-2.amazonaws.com/come_sail_away.mp3",
  "bargein": false,
  "loop": "",
  "level": "",
  "x": 507,
  "y": 461,
  "wires": [
    ["27515db0.b14ed2"]
  ]
}, {
  "id": "eb98b86.4528648",
  "type": "http in",
  "z": "b32f0aa8.dc0908",
  "name": "",
  "url": "/recordings",
  "method": "post",
  "upload": false,
  "swaggerDoc": "",
  "x": 123,
  "y": 736,
  "wires": [
    ["b660d234.8cf57", "ccf202ce.fcc95"]
  ]
}, {
  "id": "b660d234.8cf57",
  "type": "debug",
  "z": "b32f0aa8.dc0908",
  "name": "Recordings",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "payload",
  "targetType": "msg",
  "x": 131,
  "y": 678,
  "wires": []
}, {
  "id": "ccf202ce.fcc95",
  "type": "getrecording",
  "z": "b32f0aa8.dc0908",
  "creds": "64450654.a30388",
  "filename": "{{msg.payload.recording_uuid}}.mp3",
  "x": 173,
  "y": 799,
  "wires": [
    ["752ebe0e.e8bc"]
  ]
}, {
  "id": "a01f9693.4c2f38",
  "type": "amazon s3 out",
  "z": "b32f0aa8.dc0908",
  "aws": "",
  "bucket": "area-51-messages",
  "filename": "",
  "localFilename": "",
  "region": "us-east-1",
  "name": "",
  "x": 423,
  "y": 668,
  "wires": []
}, {
  "id": "752ebe0e.e8bc",
  "type": "file",
  "z": "b32f0aa8.dc0908",
  "name": "Create File",
  "filename": "{{msg.payload.recording_uuid}}.mp3",
  "appendNewline": true,
  "createDir": false,
  "overwriteFile": "false",
  "encoding": "binary",
  "x": 337,
  "y": 752,
  "wires": [
    ["4df61096.3eb8f", "a01f9693.4c2f38"]
  ]
}, {
  "id": "4df61096.3eb8f",
  "type": "file",
  "z": "b32f0aa8.dc0908",
  "name": "Delete File",
  "filename": "{{msg.payload.recording_uuid}}.mp3",
  "appendNewline": true,
  "createDir": false,
  "overwriteFile": "delete",
  "encoding": "none",
  "x": 389,
  "y": 801,
  "wires": [
    []
  ]
}, {
  "id": "64450654.a30388",
  "type": "nexmovoiceapp",
  "z": "",
  "name": "Area 51 Call Center"
}]
